root: true

env:
  node: true
  browser: true
  jasmine: true
  es6: true

extends:
  "eslint:recommended"

rules:
  indent: [2, 2, { "SwitchCase": 1 }]
  quotes: [2, "single"]
  semi: [2, "always"]
  space-before-function-paren: [2, "never"]

ecmaFeatures:
  modules: true

globals:
  angular: true
