<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
  <title>Angular File Saver - an AngularJS service that provides cross-browser compatibility of the HTML5 saveAs()</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="dist/examples.css" media="screen">
  <script src="dist/examples.js"></script>
</head>

<body ng-app="fileSaverExample">

  <section class="page-header">
    <h1 class="project-name">Angular File Saver</h1>
    <h2 class="project-tagline">An AngularJS service that provides cross-browser compatibility of the HTML5 saveAs()</h2>
    <a href="https://github.com/alferov/angular-file-saver" class="btn">View on GitHub</a>
    <a href="https://github.com/alferov/angular-file-saver/zipball/master" class="btn">Download .zip</a>
    <a href="https://github.com/alferov/angular-file-saver/tarball/master" class="btn">Download .tar.gz</a>
  </section>

  <section class="main-content">
    <h3>
      <a id="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages" aria-hidden="true">
        <span class="octicon octicon-link"></span>
      </a>
      Installation
    </h3>

    <p>Using bower</p>
    <pre>$ bower install angular-file-saver</pre>

    <p>Using npm</p>
    <pre>$ npm install angular-file-saver</pre>

    <h3>Dependencies</h3>
    <ul>
      <li><a href="https://github.com/angular/angular.js">AngularJS</a></li>
      <li><a href="https://github.com/eligrey/FileSaver.js/">FileSaver.js</a></li>
      <li><a href="https://github.com/eligrey/Blob.js/">Blob.js</a></li>
    </ul>

    <h3>Basic usage</h3>
    <ol>
      <li>
        Include the
        <code>ngFileSaver</code> module to yor project;
      </li>
      <li>
        Pass
        <code>FileSaver</code> service as a dependency;
      </li>
      <li>
        Invoke
        <code>FileSaver.saveAs()</code> and pass an object with the following set of options:
        <ul>
          <li>
            <code>data</code> - data represented as an array or a <a href="https://developer.mozilla.org/en/docs/Web/API/Blob">Blob object</a>;
          </li>
          <li>
            <code>filename</code>
          </li>
          <li>
            <code>options</code> - set of options for the <a href="https://developer.mozilla.org/en/docs/Web/API/Blob">Blob constructor</a> (optional attribute)
          </li>
        </ul>
      </li>
    </ol>

    <p>Example:</p>
<pre>
function ExampleCtrl($scope, FileSaver) {
  var vm = this;

  vm.val = {
    text: 'Hey ho lets go!'
  };

  vm.download = function(text) {

    var config = {
      data: [text],
      filename: 'textfile.txt',
      options: {
        type: 'text/plain;charset=utf-8'
      }
    };

    FileSaver.saveAs(config);
  };
}

angular
  .module('fileSaverExample', ['ngFileSaver'])
  .controller('ExampleCtrl', ['$scope', 'FileSaver', ExampleCtrl]);
</pre>

    <h3 id="demo">Demo</h3>
    <p>Download as a text file</p>
    <div class="wrapper" ng-controller="DownloadText as vm">
      <textarea ng-model="vm.val.text" ng-model-options="{ getterSetter: true }" name="textarea" rows="5" cols="20">Hey ho let's go!</textarea>
      <a href="" class="btn btn-dark btn-small" ng-click="vm.download(vm.val.text)">Download</a>
    </div>

    <footer class="site-footer">
      <span class="site-footer-owner"><a href="https://github.com/alferov/angular-file-saver">Angular-file-saver</a> is maintained by Philipp Alferov <a href="https://github.com/alferov">@alferov</a>.</span>

      <span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> using the <a href="https://github.com/jasonlong/cayman-theme">Cayman theme</a> by <a href="https://twitter.com/jasonlong">Jason Long</a>.</span>
    </footer>

  </section>


</body>

</html>
